/*Variables*/
:root {
  --spacer: 20px;
  --font: 'Sarabun', sans-serif;
  --font-heading: 'Goldman', 'Courier New', serif;
  --c-font: #344852;
  --c-font-light: #fefefe;
  --c-accent: #344852;
  --c-bckgr-primary: #fefefe;
}

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-size: 100%;
  color: var(--c-font);
  line-height: 1.5;
  margin: 0;
  background-color: var(--c-bckgr-primary);
}

/* Navigation */
.menu {
  display: flex;
  flex-direction: row-reverse;
  color: var(--c-font-light);
  background-color: var(--c-accent);
  min-height: 3rem;
}

.menu__btn {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
  background-color: transparent;
  background-image: url('./img/hamburger.svg');
  background-size: contain;
  cursor: pointer;
  filter: invert(100%);
}

.menu__links {
  background-color: var(--c-accent);
  padding: var(--spacer);
  position: relative;
  display: none;
  min-width: 90%;
}

.menu--opened {
  display: block;
}

.menu__item {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--c-font-light);
}

.menu__item:hover,
.menu__item:focus,
.menu__item:active {
  background-color: var(--c-bckgr-primary);
  color: var(--c-accent);
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }

  .menu__links {
    flex-basis: 100%;

    display: flex;
    justify-content: space-around;

    background-color: var(--c-bckgr-primary);
  }

  .menu__item {
    /*font-weight: normal;*/
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;

    background-color: var(--c-accent);
    width: 135px;
    border: 2px solid var(--c-accent);
    border-radius: 10px;

    position: relative;
  }

  /* menu item of the page displayed */
  .menu__item--current::before {
    content: '';
    display: block;

    position: absolute;
    top: 40px;
    left: 56px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid var(--c-accent);
  }

  .menu__item--current:hover.menu__item--current::after,
  .menu__item--current:focus.menu__item--current::after,
  .menu__item--current:active.menu__item--current::after {
    content: '';
    display: block;

    position: absolute;
    top: 36px;
    left: 56px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid var(--c-bckgr-primary);
  }
}

@media screen and (min-width: 992px) {
  .menu__item {
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1rem;
    width: 175px;
  }

  /* menu item of the page displayed */
  .menu__item--current::before {
    top: 60px;
    left: 71px;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid var(--c-accent);
  }

  .menu__item--current:hover.menu__item--current::after,
  .menu__item--current:focus.menu__item--current::after,
  .menu__item--current:active.menu__item--current::after {
    top: 56px;
    left: 71px;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid var(--c-bckgr-primary);
  }
}

/* Page title */
.heading {
  padding: 0 var(--spacer);
  margin-top: var(--spacer);
}

.heading__text {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .heading__text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .heading {
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * 2);
  }

  .heading__text {
    font-size: 3.5rem;
  }
}

/* Footer */
.footer {
  background-color: var(--c-accent);
  padding: var(--spacer);
  margin-top: calc(var(--spacer) * 2);
}

.footer__text {
  text-align: center;
  color: var(--c-font-light);
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}

.footer__text:not(:last-child) {
  margin-bottom: 0.5em;
}

.footer__text a {
  color: var(--c-font-light);
}

/* Introduction - text and picture*/
.introduction {
  margin: var(--spacer) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
}

.introduction__picture {
  display: block;
  width: 100%;
}

.introduction__text {
  font-size: 1.125rem;
  text-align: center;
  margin: var(--spacer) 0;
}

@media screen and (min-width: 768px) {
  .introduction {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    max-width: 1200px;
    margin: var(--spacer) auto;
  }

  .introduction__picture-wrapper {
    flex: 1 1 60%;
  }

  .introduction__text {
    flex: 1 1 40%;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .introduction__text {
    font-size: 1.5rem;
  }
}

/* Text */
.text {
  max-width: 600px;
  margin: calc(var(--spacer) * 3) auto;
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: var(--font);
  font-size: 1.125rem;
}

.text--homepage {
  text-align: center;
}
